<?xml version="1.0" encoding="utf-8"?>

#if ($m.MultipleSections)
<$m.RootElementName 
 xmlns="$m.TargetNamespace"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
#end
#foreach ($section in $m.Sections)
#if ($m.MultipleSections)
 <$section.ElementName>
#else
 <$section.ElementName
  xmlns="$m.TargetNamespace"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
#end
#foreach ($element in $section.Elements)   
#if ($element.Multivalued)
  <$element.ElementName>
#foreach ($value in $element.Values)
#if ($element.OfMixedTypes)
   <element xsi:type="$value.Type">$value.Value</element>
#else
   <element>$value.Value</element>
#end
#end
  </$element.ElementName>
#else
  <$element.ElementName>$element.SimpleValue</$element.ElementName>
#end
#end
 </$section.ElementName>
#end
#if ($m.MultipleSections)
</$m.RootElementName>
#end

